.calculator {
  padding: 30px 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
  padding: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 0;
  @media screen and (min-width: 993px) {
    gap: 10rem;
    flex-direction: row;
  }
}

h3.subtitle {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.calculatorWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1 1 30%;
  min-width: 300px;
}

.resultInfoWrapper {
  flex: 1 1 70%;
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.66);
  padding: 15px;
}

.select {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}